* { box-sizing: border-box; margin: 0; padding: 0; }

/* Header */

  header { background: #3F4D1C; padding: 1em 0; text-align: center; width: 100%; }
  header img { max-width: 300px; width: 90%; }

/* Navigation */

  nav 
  { 
    border-bottom: 9px solid #00593D; 
    font-family: 'Oswald', sans-serif;
    position: relative; 
    width: 100%; 
  }
  nav ul 
  { 
    background: rgba(0,0,0,0.50); 
    display: flex; 
    justify-content: center; 
    list-style: none; 
    left: 0; 
    position: absolute; 
    top: 0; 
    width: 100%; 
    z-index: 10; 
  }
  nav ul li 
  { 
    border-right: 2px solid white; 
    margin: 1em 0; 
    padding: 0 1em; 
    text-transform: uppercase; 
  }
  nav ul li:last-child { border-right: 0; }
  nav ul li a { color: white; text-decoration: none; }
  nav ul li a:hover { color: #00593D; }
  nav div { width: 100%; }
  nav div h2 
  { 
    color: white; 
    font-family: georgia; 
    font-size: 2em; 
    font-weight: lighter; 
    position: absolute; 
    top: 3em; 
    text-align: center; 
    width: 100%; 
    z-index: 10; 
  }
  nav div h3 
  { 
    color: white; 
    font-family: georgia; 
    font-size: 1.5em; 
    font-weight: lighter; 
    left: 0%; 
    position: absolute; 
    bottom: 3em; 
    text-align: center; 
    width: 100%; 
    z-index: 10; 
  }
  nav div img { display: block; width: 100%; }
  
    @media screen and (max-width: 647px)
    {
      nav div h2 { display: none; }
      nav div h3 { display: none; }
      nav ul { flex-wrap: wrap; }
      nav ul li { border: 0; }
    }
    
/* Slideshow */
  
  #slideshow { background: #333; margin: 0; padding: 0; z-index: 0; }
  div.slider img { margin-bottom: 0; width: 100%; }
  div.bx-wrapper, .bx-wrapper 
  { 
    border: 0 !important;
    box-shadow: none; 
    margin-bottom: 0; 
  }
    
/* Article */

  article { max-width: 1279px; margin: 0 auto; padding: 2em 0; text-align: center; width: 90%; }
  article h1 { color: #00593D; font-family: 'Oswald', sans-serif; text-transform: uppercase; }
  article p { color: #4D4E4F; font-family: 'Mukta', sans-serif; line-height: 1.5em; margin-top: 1em; }
  
/* Gallery */
  
  #gallery 
  {
    /* background: yellow; */
    max-width: 1000px; 
    margin-inline: auto;
    text-align: center; 
    width: 100%; 
  }
  
  div.row { margin-top: 2rem; }
  div.row h3 { margin-bottom: 1.5rem;}
  
  div.pics
  {
    /* background: gold; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    justify-content: center;
    width: 100%; 
  }
  
  div.pics img { width: 200px; }
    
    
/* Socials */
  
  section.socials { justify-content: center; margin-top: 2em; }
  section.socials img { margin: 0 0.5em; }

/* Footer */

  footer { background: #3F4D1C; color: white; margin-top: 2em; padding: 2em; text-align: center; }
  footer img { max-width: 300px; width: 90%; }
  footer h2 { font-family: 'Oswald', sans-serif; font-weight: 400; margin-top: 1em; text-transform: uppercase; }
  footer p { font-family: 'Oswald', sans-serif; font-weight: 300; line-height: 1.5em; margin-top: 1em; }
  footer p a { color: inherit; }
    
    
    
    
    
    
    
    
    
    